{% extends "app/base.html" %}

{% load crispy_forms_tags %}
{% block content %}

<div class="input-group mb-3">
<div >
<p>Pretraživanje po datumu: </p>
  <form class = " form-row align-items-center" method ="GET" style="padding-bottom: 40px;">
<button type ="submit" id="mybutton" class = "btn btn-primary">Filtriraj</button>
{{filter.form|crispy}}
</form>
</div>
</div>
<div style="padding-top: 20px;">
  <h4>Lista odrađenih sati</h4>
  {% if odradjenisati_list %}
    <table class="table table-bordered">
       <thead class="thead-dark">
        <tr>
      <th scope="col">Datum</th>
      <th scope="col">Početak vremena</th>
      <th scope="col">Kraj vremena</th>
      <th scope="col">Odrađeni sati</th>
      <th scope="col">Tip odrađene smjene</th>
      <th scope="col">Prekovremeni rad</th>
      {%endif%}
        </tr>
      </thead>
  {% for odradjenisati in filter.qs %}
   <tbody>
      <td>{{odradjenisati.datum}}</td>
      <td>{{odradjenisati.pvremena}}</td> 
      <td>{{odradjenisati.kvremena}}</td>   
      <td>{{odradjenisati.razlika}} h</td>
      <td>{{odradjenisati.vrijeme}}</td>
      <td>{{odradjenisati.prekovremeni}}</td>
      </tbody>
      {% endfor %}
      </table>
</div>

{% endblock %}
